body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto;
  gap: 10px;
  background-color: #151b29;

}
svg {
 height: 100px;
 width: 100px;

}
img {
  height: 100px;
}

.price{
  font-size: x-small;
  font-style: italic;
 
}

.description {
  height: 100px;
}

.card {
  padding: 25px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;


}

.Products {
  gap: 20px;
  display: grid;
background-color: white;
}


button {
  margin-bottom: 20px;
  width: 50px;


}



button{
  background: none;
  border: 2px solid;
  color: #B8405E;
  font-size: 1em;
  padding: 0.5em;
  transition: all 0.25s;
}

button:hover{
  color: rgb(10, 10, 10);
  border: 2px solid;
  border-color: #2EB086;
  box-shadow: 0 0.5em 0.5em -0.5em #2EB086;
  transform: translateY(-.18em);
  cursor: pointer;
}